<ion-view view-title="Todo App" ng-controller="ListCtrl">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" href="#/edit/{{note.id}}" ng-repeat="note in notes track by note.id">
        <h2>{{note.title}}</h2>
        <i class="icon ion-chevron-right"></i>
        <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remove(note.id)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a href="#/add" class="button button-assertive icon-left ion-compose">
      Add New Todo
    </a>
  </div>
</ion-view>
